extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p 
        | Loc8r was created to help people find places to sit down and get a bit of work done.
      br
      p Posuere aliquam sodales, dui quis mus pellentesque integer egestas. Nonummy ullamcorper aliquet duis. Eget phasellus lacinia urna pulvinar condimentum faucibus leo per conubia dis ligula vehicula inceptos nascetur commodo senectus dignissim condimentum nibh eros est cum nisl vulputate commodo a habitasse. Eget platea elementum class rutrum lacinia imperdiet dictumst in suscipit. Potenti integer accumsan varius maecenas fames iaculis ridiculus eu euismod vivamus eget orci eget at. Sociosqu tellus eros, odio aliquet hymenaeos. Odio. Litora curabitur blandit.
      p Malesuada. Tincidunt at, id quam ipsum varius. Montes, massa enim. Taciti risus. Justo. Mattis urna primis penatibus velit tincidunt egestas fringilla ornare netus a ultrices sit libero morbi sem. Mi non quis felis felis, fusce convallis libero habitasse. Odio eros dis gravida, malesuada molestie hendrerit vestibulum. Condimentum. Sapien lobortis parturient. Bibendum aliquet nulla eleifend sagittis sagittis suspendisse tincidunt dui habitasse taciti dis posuere lectus nisi justo erat fames, purus vehicula quam nisi pede torquent mus. Rhoncus nullam eleifend Convallis consectetuer aliquam dolor odio placerat ridiculus.