doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="author", content="Junwei Zhao")
    link(rel='icon', href='/images/favicon.ico')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/journal.css')
    link(rel='stylesheet', href='/bootstrap/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-social.css')
    link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Lato")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .container
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') ReviewU
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') Home
              li
                a(href='/about') About
              if user
                li.dropdown
                  a.dropdown-toggle(href="#", data-toggle="dropdown")
                    span #{user.name}
                    span &nbsp;
                    span.caret
                  ul.dropdown-menu
                    li
                      navbar-login
                        row
                          .col-xs-4
                            p.text-center
                              span.glyphicon.glyphicon-user.icon-size
                          .col-xs-8
                            p.text-left
                              strong #{user.name}
                            p.text-left.small #{user.email}
                    li.divider.navbar-login.session.bg
                    li.navbar-login-session-bg
                      .navbar-login.navbar-login-session
                        row
                          col-lg-12
                            p
                              a.btn.btn-danger.btn-block(href="/logout") Logout
              else
                li
                  a(href='#registerModal' data-toggle="modal") SignUp
                li
                  a(href='#loginModal' data-toggle="modal") LogIn
      block content
      hr
    footer.container
      .row
        .col-xs-12.col-sm-6.col-md-4
          h5 Navgation
          .hline
          ul.list-inline.list-group
            li
              a.list-group-item(href='/') Home
            li
              a.list-group-item(href='/about') About
            li 
              a.list-group-item(href='#') Search
            li
              a.list-group-item(href="#") #ReviewU
        .col-xs-12.col-sm-6.col-md-4
          h5 About Junwei
          .hline
          h6 Fullstack Developer
          h6 Email: blairzhao111@gmail.com, jzhao34@buffalo.edu
        .col-xs-12.col-sm-6.col-md-4
          h5 Contact
          .hline
          row
            .col-xs-5
              button.btn.btn-primary.btn-block(data-toggle="modal", data-target="#messageMeModal") Message Me!
            .col-xs-7
              ul.list-inline
                li
                  a.btn.btn-sm.btn-social-icon.btn-twitter
                    span.fa.fa-twitter
                li
                  a.btn.btn-sm.btn-social-icon.btn-github
                    span.fa.fa-github
                li
                  a.btn.btn-sm.btn-social-icon.btn-linkedin
                    span.fa.fa-linkedin
                li
                  a.btn.btn-sm.btn-social-icon.btn-reddit
                    span.fa.fa-reddit                    
      .row
        .col-xs-12
          p.small.text-center Copyright &copy; Junwei Zhao 2016 All rights reserved
    a.backToTop(href="#")
      span.glyphicon.glyphicon-arrow-up Top

    include ./_includes/modals/loginModal
    include ./_includes/modals/registerModal
    include ./_includes/modals/messageMeModal
    script(src='/javascripts/jquery-2.2.4.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/reviewU.js')
    script(src='/javascripts/validation.js')
