.panel.panel-info
  .panel-heading
    h2.panel-title Post A New Place
  .panel-body
    .row
      .col-xs-12
        p Not found the place you've been, just share it with us!
        hr
        button.btn.btn-primary.btn-block(type="button", data-toggle="modal" data-target="#postLocationModal") Post A New Place, Go!

include ./modals/postLocationModal