#messageMeModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="messageMeModalLabel")
  .modal-dialog(role="document")
    form#messageMe.modal-content.form-horizontal(action="/messageMe", method="post", role="form")
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true")&times;
        h4#messageMeModalLabel.modal-title.text-center Please leave your message here
      .modal-body
        .form-group.form-group-sm
          label.col-xs-2.control-label Name
          .col-xs-10
            input.form-control(type="text", name="name", placeholder="Your Name" required)
        .form-group.form-group-sm
          label.col-xs-2.control-label Email
          .col-xs-10
            input.form-control(type="email", name="email", placeholder="Your Contact Email" required)
        .form-group.form-group-sm
          label.col-xs-2.control-label Message
          .col-xs-10
            textarea.form-control(rows="5", placeholder="Please leave your message here...")
      .modal-footer
        button.btn.btn-default.pull-left(type="button", data-dismiss="modal") Close
        button.btn.btn-primary(type="submit") Send